/* none */
body {
  background-color: #1e1610;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fcce8d' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

div.item > .text {
  color: 1e1610 !important;
}

.visible.menu.transition {
  background-color: #f3ede3 !important;
}

.ui.attached.tabular.menu {
  border: none;
  font-size: 1.25em;
}

.ui.attached.tabular.menu > .active.item {
  border: none;
  background-color: #1e1610;
  color: #f3ede3;
}

a.tag-links {
  color: #f3ede3;
  opacity: 0.5;
}

a.tag-links:hover {
  color: #f3ede3;
  opacity: 1;
}

.ui.loading.segment:before {
  background: none;
}

.ui.loading.segment:after {
  border-color: #f3ede3 transparent transparent transparent !important;
}

.bar {
  background-color: transparent !important;
}

.ui.active.progress .bar::after {
  background-color: #f3ede3;
}

.ui.active.progress {
  margin-top: 40px;
  margin-bottom: 40px;
}
